<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18654689693-3ho6ba53qja82ojudapj68tbd25bh6bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18654689693-3ho6ba53qja82ojudapj68tbd25bh6bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCgqHUV-vf6uz7InIk7nTMOLoQXc5DnUWo</string>
	<key>GCM_SENDER_ID</key>
	<string>18654689693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arthur.HelloFirebase</string>
	<key>PROJECT_ID</key>
	<string>provaiosarthur</string>
	<key>STORAGE_BUCKET</key>
	<string>provaiosarthur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18654689693:ios:91c430f7645d5339</string>
	<key>DATABASE_URL</key>
	<string>https://provaiosarthur.firebaseio.com</string>
</dict>
</plist>